
  
  

  .card {
    background: #222;
    border: 1px solid #161616;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
  }
 
   .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: gray !important;
    -webkit-background-clip: gray!important;
    -webkit-text-fill-color:#fff  !important;
    border-image-source:  transparent !important; 
    text-decoration: none;
    transition: all .4s ease;
  } 
  
   .btn:hover, .btn:focus {
        background: gray !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }

 .title {
    color: #fff;
   
  }
  .card-body{
    line-height: 0.8;
  }

 /* .btn-custom {
    width: 93px; 
    margin: 10px 10px;
    font-size: 11px;
    padding: 10px;
}
*/
